@import url('https://fonts.googleapis.com/css2?family=Anta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;

}
.bold{
    font-size: 30px;
}
li{
    padding: 5px;
}
.nav-link{
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}
.nav-link:hover{
    border-bottom: 2px solid blue;
    transition: 0.3s ease-in-out;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    color: rgb(12, 110, 253);
    font-family: "Madimi One", sans-serif;
}
.a{
    font-family: "Dancing Script", cursive;
}
.nam{
    color: black;
    font-weight: 100;
    font-size: 60px;
}
.course{
    color: red;
    font-weight: 400;
    font-size: 30px;
}
.nav-item i{
    padding: 10px 10px 0px 10px;
}
.about_p{
    color: black;
    font-size: 13px;
}
.details{
    list-style: none;
}
.details i{
    padding: 10px 20px 0px 10px;
    color: blue;
}
.details b{
    color: red;

}
.dwnld_cv{
    border:2px solid red;
    padding: 10px 30px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    border-radius: 5px;
}
#about img{
    
    margin-top: 50px;
    border-radius: 2000px;
}
#navbar{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.card img{
    height: 200px;
    transition: all 0.5s ease-in-out;
}
.inner{
    overflow: hidden;
}
.card img:hover{
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}
