@import url('https://fonts.googleapis.com/css2?family=Anta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;

}
.bold{
    font-size: 30px;
}
li{
    padding: 5px;
}
.nav-link{
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}
.nav-link:hover{
    border-bottom: 2px solid blue;
    transition: 0.3s ease-in-out;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    color: rgb(12, 110, 253);
    font-family: "Madimi One", sans-serif;
}
.a{
    font-family: "Dancing Script", cursive;
}
.nam{
    color: black;
    font-weight: 100;
    font-size: 60px;
}
.course{
    color: red;
    font-weight: 400;
    font-size: 30px;
}
.nav-item i{
    padding: 10px 10px 0px 10px;
}
.about_p{
    color: black;
    font-size: 13px;
}
.details{
    list-style: none;
}
.details i{
    padding: 10px 20px 0px 10px;
    color: blue;
}
.details b{
    color: red;

}
.dwnld_cv{
    border:2px solid red;
    padding: 10px 30px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.dwnld_cv:hover{
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 6px rgba(255, 60, 0, 0.616),-1px -1px 6px rgba(255, 60, 0, 0.616),-1px 1px 6px rgba(255, 60, 0, 0.616),1px -1px 6px rgba(255, 60, 0, 0.616);

}
#about img{
    
    margin-top: 50px;
    border-radius: 2000px;
}
#navbar{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.card img{
    height: 200px;
    transition: all 0.5s ease-in-out;
}
.inner{
    overflow: hidden;
}
.list-unstyled i{
    padding: 10px;
}

.progress-wrapper {
    display: block;
    margin: 10px 0;
}

.progress-wrapper .caption {
    font-weight: 500;
    
}

.progress {
    margin-top: 5px;
    height: 1.25rem;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0 0 0 2px #747474;
}

.progress,
.progress-bar {
    border-radius: 30px;
    
}

.progress-bar {
    font-size: 12px;
    background-color: #747474;
}

.card img:hover{
    transform: scale(1.5);
    transition: all 0.5s ease-in-out;
}
.vg-footer{
    color: white;
    background-color: black;
}
.vg-footer p{
    color: white;
    font-size: 30px;
}
.vg-footer a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}
#copy{
    font-size: 15px;
}
.vg-footer a:hover{
    color: red;
}
.vg-footer i{
    padding: 10px;
}
.title{
    background-color: red;
    padding: 0px;
    border-bottom-right-radius: 600px;
    border-top-left-radius: 600px;
    border-bottom-left-radius: 600px;
    width: 200px;
    padding: 10px;
}
.details_row{
    background-color: rgb(231, 230, 230);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.details_row small{
    color: red;
}
.details_row h5{
    color: blue;
}
.title{
    background-color: red;
    padding: 0px;
    border-bottom-right-radius: 600px;
    border-top-left-radius: 600px;
    border-bottom-left-radius: 600px;
    width: 200px;
    padding: 10px;
}
.details_row{
    background-color: rgb(231, 230, 230);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.details_row small{
    color: red;
}
.details_row h5{
    color: blue;
}.title{
    background-color: red;
    padding: 0px;
    border-bottom-right-radius: 600px;
    border-top-left-radius: 600px;
    border-bottom-left-radius: 600px;
    width: 200px;
    padding: 10px;
}
.details_row{
    background-color: rgb(231, 230, 230);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.details_row small{
    color: red;
}
.details_row h5{
    color: blue;
}.title{
    background-color: red;
    padding: 0px;
    border-bottom-right-radius: 600px;
    border-top-left-radius: 600px;
    border-bottom-left-radius: 600px;
    width: 200px;
    padding: 10px;
}
.details_row{
    background-color: rgb(231, 230, 230);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.details_row small{
    color: red;
}
.details_row h5{
    color: blue;
}.timeline {
    position: relative;
    display: block;
    list-style: none;
    padding-left: 0;
    width: 100%;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 2px;
    height: 95%;
    background-color: #e3e5e9;
  }
  
  .timeline li {
    position: relative;
    display: block;
    padding-left: 30px;
    margin-bottom: 20px;
  }
  





.timeline li::before {
  content: '';
  position: absolute;
  top: 8px;
  left: -8px;
  width: 18px;
  height: 18px;
  background-color: #747474;
  border: 3px solid #fff;
  border-radius: 50%;
}




 

  
  
 

